<h2>Comentarios</h2>
<section>
  <div *ngIf="comments; else hasNoComments">
    <ul>
      <li *ngFor="let comment of comments">
        <span><strong>{{comment.email}}</strong></span>
        <h4>{{comment.name | lettercase:letterCaseSwitch}}</h4>
        <p>{{capitalizeFirstLetter(comment.body)}}.</p>
      </li>
    </ul>
  </div>
  <div class="btn-container">
    <button (click)="onClick()">
      Ver la fecha del último comentario
    </button>
    <button (click)="letterCaseSwitch = !letterCaseSwitch">
      Título de comentarios a {{(letterCaseSwitch) ? 'minúsculas' : 'mayúsculas'}}
    </button>
  </div>
</section>

<ng-template #hasNoComments>
  <div id="loading"></div>
</ng-template>
