button {
  background-color: lightgray;
  padding: 9px;
  margin: 8px 0;
  border: 1px solid black;
  cursor: pointer;
  width: 40%;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

section {
  margin: 0 0 20px 0;
}

li {
  list-style: none;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

.uppercaseOn {
  background-color: gray;
  color: white;
}

@media (max-width: 768px) {
  button {
    width: 100%;
  }

  .btn-container {
    flex-direction: column;
    align-items: center;
  }
}
